.nav-link-custom {
  position: relative;
  transition: color 0.3s ease;
  color: #aaa;
  font-weight: 500;
  padding: 0.5rem 1rem !important;
}

.nav-link-custom::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 50%;
  background-color: #f2f2f2;
  transition: all 0.3s ease;
  transform: translateX(-50%);
}

.nav-link-custom:hover::after {
  width: 100%;
}

.nav-link-custom.active::after {
  width: 100%;
}

.nav-link-custom:hover {
  color: #ffffff !important;
}

.nav-link-custom.active {
  color: #ffffff !important;
}
